@font-face {
    font-family: "coolvetica";
    src: url("/fonts/coolvetica\ compressed\ hv.otf") format("otf"),
    url("/fonts/coolvetica\ condensed\ rg.otf") format("otf"),
    url("fonts/coolvetica\ crammed\ rg.otf") format("otf"),
    url("/fonts/coolvetica\ rg.otf") format("otf"),
    url("/fonts/coolvetica\ rg\ it.otf") format("otf"),
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    position:absolute;
}

::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position:absolute;

}

:root{
    --red: #c72230;
    --blue: #111221;
    --light-blue: #2d2f46;
    --cyan: #308c9b;
    --white: #fff;

    --res-screen: 490;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    /* font-size : clamp(14px, 16px, 24px); */
    font-size: 150%;
    /* overflow-x: hidden; */
}

/* normal colors */
.red{
    color: var(--red)
}

.blue{
    color: var(--blue)
}

.l-blue{
    color: var(--light-blue)
}

.cyan{
    color: var(--cyan)
}

.white{
    color: var(--white)
}

/* background colors */
.b-red{
    background-color: var(--red);
}

.b-blue{
    background-color: var(--blue);
}

.b-l-blue{
    background-color: var(--light-blue);
}

.b-cyan{
    background-color: var(--cyan);
}

.b-white{
    background-color: var(--white);
}

/* beta */

.beta{
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 2550;
}
/* Bold text */
.bold{
    font-weight: 600;
}

/* Large Text */
.Xtitle{
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
}

.separator{
    padding-top: 60px;
}

@media screen and (max-width: 490px) {
    .Xtitle{
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

/* global elements */
.button{
    font-size: 1rem;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}

.button:hover{
    background-color: var(--cyan);
}

.button:active{
    background-color: var(--white);
    color: var(--blue);
}

input[type=text]{
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.episods{
    padding: 2px 5px;
    display: inline;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.status{
    padding: 2px 5px;
    display: inline;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rating{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 5.5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 0.8rem !important;
}


.loader{
    display: block;

}

/* banner slider */
#header {
    width: 100vw;
    height: 100vh;
}

#header > .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    left: 0;
    /* animation: 15s slider infinite;
    -webkit-animation: 15s slider infinite; */
}

#header > div.container > div.banner{
    height: 100vh;
    position: relative;
    animation: 25s slider infinite;
    -webkit-animation: 25s slider infinite;
    -webkit-animation: 25s slider infinite;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -0%;
	}
}

#header > .container > .banner > img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#header > .container > .banner > .info{
    width: 55vw;
    position:absolute;
    left: 5%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(17, 18, 33, 0.3);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#header > .container > .banner > .info > p.Xtitle{
    display: inline-block;
    margin-bottom: 10px;
}

#header > .container > .banner > .info > p.resum{
    display: inline-block;

    font-size: 0.7rem;
    width: 50vw;
    /* text-shadow: 2px 2px 1px white; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#header > .container > .banner > .info > .button {
    display: inline-block;
    margin-top: 10px;
}

/* search section */

main{
    margin: 0 auto;
    width: 100vw;
    padding: 10px 4vw;
}

main > #search {
    width: 100%;
}

main > #search > form{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main > #search > form > input#searchBar {
    width: 65%;
    height: 6vh;
}

main > #search > form > input#searchButton{
    width: 20%;
    font-size: 1rem;
}

/* sections title */

section > .sectionTitle{
    margin: 35px auto 15px;
    padding: 10px;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

section > .sectionTitle > p{
    /* background-color: #111221; */
    display: inline;
    position: relative;
    font-size: 1.8rem;
    padding-bottom: 0;
    /* border-bottom: 4px solid white; */
}

section > .sectionTitle > p::after{
    content: "";
    width: 110%;
    height: 5px;
    background-color: var(--blue);
    border-radius: 2px;
    position: absolute;
    left: 0%;
    bottom: -2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

section > .sectionTitle > a{
    color: white;
    font-weight: 600;
    font-family: 'coolvetica';
    letter-spacing: 0.1rem;
}

/* anime cards */
section > .list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4%;
    flex-wrap: wrap;
}

section#characters > .list{
    gap: 10px;
}

section > .list > .card.character_card{
    width: 8vw;
}

section > .list > .card.card.character_card img {
    height: 80%;
    object-fit: cover;
    width: 100%;
}

section > .list > .card{
    margin-bottom: 25px;
    width: 15vw;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    background-color: var(--light-blue);
    /* border: 2px solid var(--white); */
    border-bottom: 1px solid var(--white);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

@media screen and (max-width: 1150px) {
    section > .list > .card{
        width: 25%;
    }
}

@media screen and (max-width: 800px) {
    section > .list > .card{
        width: 45%;
    }
}

@media screen and (max-width: 400px) {
    section > .list > .card{
        width: 80%;
    }
}



section > .list > .card > a {
    text-decoration: none;
    color: unset;
}

section > .list > .card img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

section > .list > .card .info > .title {
    font-family: 'coolvetica';
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    width: 100%;
    height: 10%;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section > .list > .card .info{
    padding: 0 10px;
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

section > .list > .card .info > .subInfo{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

section > .list > .card .info > .subInfo > .episods {
    width: 30%;
    font-size: 0.55rem;
}

section > .list > .card .info > .subInfo > .rating {
    align-content: flex-end;
    gap: 5px;
    
}

section > .list > .card .info > .subInfo > .rating > .note{
    font-size: 0.8rem;
    font-weight: 600;
}

section > .list > .card .info > .subInfo > .rating > span{
    font-size: 0.75rem;
    margin-top: 3px;
}

/* trending anime section */
section#TrendingAnime{
    width: 100%;
}

section#TrendingAnime > .content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

section#TrendingAnime > .content > .preview > .cover{
    display: none;
    width: 60vw;
    position: relative;
    height: 75vh;
    overflow: hidden;
    transition: all 1s ease;
}

section#TrendingAnime > .content > .preview > .cover.active{
    display: block;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

@media screen and (max-width: 900px) {
    section#TrendingAnime > .content{
        display: block;
    }

    section#TrendingAnime > .content > .preview > .cover{
        width: 100%;
        margin-bottom: 10px;
    }
}

section#TrendingAnime > .content > .preview > .cover > a{
    color: unset;
    width: 100%;
    text-decoration: unset;
}

section#TrendingAnime > .content > .preview > .cover > a > img{
    width: 100%;
    height: 100%;
    /* height: inherit; */
    display: block;
    object-fit: cover;
    position: relative;
}


section#TrendingAnime > .content > .preview > .cover > a > .rating{
    position: absolute;
    top:5px;
    right: 5px;
}

section#TrendingAnime > .content > .preview > .cover > a > .info{
    /* display: none; */
    position: absolute;
    bottom: 0;
    width: 100%;
    flex: 1 0;
}

section#TrendingAnime > .content > .preview > .cover > a > .info > p.name{
    /* font-size: 3rem; */
    font-size: clamp(1.5rem, 2rem, 3rem);
    line-height: 2.4rem;
    width: 75%;
    height: 65%;
    min-height: 40%;
    overflow: hidden;
    text-transform: uppercase;
    margin-left: 5px;
    position: absolute;
    top: -50%;
    text-shadow: 2px 2px 2px white;
}

section#TrendingAnime > .content > .preview > .cover > a > .info > p.description{
    padding: 20px 10px 10px 10px;
    font-size: 0.8rem;
}

/*****************************************************************/

section#TrendingAnime > .content > .vertical-list{
    width: 45vw;
    max-height: 75vh;
    z-index: 300;
    /* background-color: red; */
    display:block;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;

    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section#TrendingAnime > .content > .vertical-list > .v-card{
    /*background-color: rgba(255, 255, 255, 0.2);
    *//*border: 2px solid var(--white);
    */border-bottom: 1px solid var(--white);
    border-top: 1px solid var(--white);
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 28vh;
    /*max-height: 300px;
    */overflow: hidden;
    transition:all 1s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
}

section#TrendingAnime > .content > .vertical-list > .v-card.active{
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

section#TrendingAnime > .content > .vertical-list > .v-card > img{
    display: block;
    position: relative;
    height: 100%;
    min-width: 35%;
    object-fit: cover;
    object-position: center;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info {
    padding: 5px;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .name{
    font-family: "coolvetica";
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    font-size: 1.2rem;
    max-height: 75px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .episods{
    font-size: 1rem;
    font-weight: 600;
    display: inline;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 2px 10px;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .status{
    font-size: 1rem;
    font-weight: 600;
    display: inline;
    margin: 5px 5px 5px 0;
    padding: 2px 10px;
}

section#TrendingAnime > .content >
.vertical-list > .v-card > .info > .rating{
    float: left;
    margin-left: 10px;
    font-size: 1rem;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .category{
    clear: both;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .category > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

section#TrendingAnime > .content > .vertical-list > .v-card > .info > .category > ul > li{
    font-size: 1rem;
    list-style-type: none;
    padding: 2px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 900px) {
    section#TrendingAnime > .content > .vertical-list{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    section#TrendingAnime .content > .vertical-list > .v-card{
        height: 18vh;
    }
}


/* details page styling */

main > Section#animeDetails {
    width: 100%;
}

main > Section#animeDetails > .content > .banner > img{
    width: 100%;
    background-color: #c72230;
    object-fit: cover;
    object-position: auto;
    height: 25vh;
}

main > Section#animeDetails > .content > p.animeTitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.5rem;
}

main > Section#animeDetails > .content > div#overView{
    display: flex;
    gap: 2.5vw;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* height: 80vh; */
    width: 100%;
    /* flex: 1 0 auto; */
}

/* ---> anime details starst from here <---- */
main > Section#animeDetails > .content > div#overView > #animeInfo > #animeDetails{
    flex-shrink: 1;
}

main > Section#animeDetails > .content > div#overView > #animeInfo > #animeDetails > p.description{
    font-size: 1rem;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid white;
}

main > Section#animeDetails > .content > div#overView > #animeInfo > #tags { 
    font-size: 1.3rem;
    margin-top: 30px;
}

main > Section#animeDetails > .content > div#overView > #animeInfo > #tags > div {
    margin: 5px 0;
    max-width: max-content;
}

main > Section#animeDetails > .content > div#overView > #animeInfo > #tags > div > ul{
    display: flex;
    gap: 5px 0px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    flex-wrap: wrap;
    max-width: inherit;
}

main > Section#animeDetails > .content > div#overView > #animeInfo > #tags > div > ul > li{
    list-style-type: none;
    margin: 0 2px;
    padding: 2px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

 /* ---> anime covers starst from here <---- */

main > Section#animeDetails > .content > div#overView > #animeCover {
    /* min-width: 30%; */
    width: 350px;
    /* width: 50vw; */
    /* height: 100%; */
    /* flex-shrink: 1; */
    flex-shrink: 0;
}

main > Section#animeDetails > .content > div#overView > #animeCover > img{
    width: inherit;
    /*height: 80%;
    */display: block;
    border: 2px solid white;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main > Section#animeDetails > .content > div#overView > #animeCover > .episods{
    display: inline;
    float: left;
}

main > Section#animeDetails > .content > div#overView > #animeCover > .rating{
    font-size: 1.5rem;
    float: right;
}

@media screen and (max-width: 680px) {
    main > Section#animeDetails > .content > div#overView{
        display: block;
    }

    main > Section#animeDetails > .content > div#overView > #animeCover{
        width: 100%;
        margin-bottom: 90px;
    }
}

/* episods list */
section#episodes > .ep-list{
    width: 100%;
}

section#episodes > .ep-list > ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content:center;
}

section#episodes > .ep-list > ul > li{
    color:unset;
    list-style-type: none;
    word-wrap: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 11%;
    min-width: max-content;
}

section#episodes > .ep-list > ul > li > a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

section#episodes > .ep-list > ul > li > a:hover{
    background-color: var(--cyan);
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* characters cards */
.character_card{
    width: 15vw !important;
    min-width: none;
    position: relative;
    padding: 0 !important;
    overflow: visible !important;
    /* min-width: max-content !important; */
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    border: none !important;
}

.character_card:hover > img{
    display: block;
}

.character_card:hover > .info{
    display: none;
}

.character_card > .info{
    padding: 8px !important;
    width: max-content;
}

.character_card > .info > .title{
    width: 100px;
}

.character_card > img {
    display: none;
    z-index: 1000;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* transform: translate(-50%, 50%); */
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    border: 3px solid var(--cyan);
    content: visible !important;
    height: 25vh !important;
    width: 100% !important;
    border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}

/* watchin frame */

section{
    width: 100%;
}

section#watchSection > .content{
    width: inherit;
}

section#watchSection > .content > .banner > img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

section#watchSection > .content > p.episodeNumber{
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
}

Section#watchSection > .content > iframe.watchFrame {
    width: inherit;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
    overflow: visible;
}

section#watchSection > .content > div.epNav {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* search result section */
section#result > .noResult > p{
    text-align: center;
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    display: none;
}

section#result > div.navButton {
    display:flex;
    justify-content: space-between;
}